-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "usuario" (
    "usuario_id" SERIAL NOT NULL,
    "tipo_usuario" INTEGER NOT NULL,
    "correo" VARCHAR(150) NOT NULL,
    "nombre" VARCHAR(100) NOT NULL,
    "apellido_paterno" VARCHAR(100) NOT NULL,
    "apellido_materno" VARCHAR(100),
    "contrasena" TEXT NOT NULL,
    "edificio_id" INTEGER,
    "turno" VARCHAR(50),
    "fecha_registro" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "tipo_cuenta" TEXT NOT NULL DEFAULT 'personal',
    "avatar_genero" TEXT NOT NULL DEFAULT 'femenino',
    "onboarding_completo" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "usuario_pkey" PRIMARY KEY ("usuario_id")
);

-- CreateTable
CREATE TABLE "edificio" (
    "edificio_id" SERIAL NOT NULL,
    "nombre" VARCHAR(100) NOT NULL,
    "descripcion" TEXT,

    CONSTRAINT "edificio_pkey" PRIMARY KEY ("edificio_id")
);

-- CreateTable
CREATE TABLE "respuesta" (
    "respuesta_id" SERIAL NOT NULL,
    "edificio_id" INTEGER NOT NULL,
    "respuestas" JSONB NOT NULL,
    "fecha" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "respuesta_pkey" PRIMARY KEY ("respuesta_id")
);

-- CreateTable
CREATE TABLE "conversacion" (
    "conversacion_id" SERIAL NOT NULL,
    "usuario_id" INTEGER NOT NULL,
    "titulo" VARCHAR(200),
    "fecha_creacion" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "activa" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "conversacion_pkey" PRIMARY KEY ("conversacion_id")
);

-- CreateTable
CREATE TABLE "mensaje" (
    "mensaje_id" SERIAL NOT NULL,
    "conversacion_id" INTEGER NOT NULL,
    "role" VARCHAR(20) NOT NULL,
    "texto" TEXT NOT NULL,
    "sentimiento" VARCHAR(20),
    "categoria" VARCHAR(50),
    "riesgo" VARCHAR(20),
    "alerta" BOOLEAN NOT NULL DEFAULT false,
    "fecha" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "mensaje_pkey" PRIMARY KEY ("mensaje_id")
);

-- CreateTable
CREATE TABLE "codigo_verificacion" (
    "codigo_id" SERIAL NOT NULL,
    "usuario_id" INTEGER NOT NULL,
    "codigo" VARCHAR(6) NOT NULL,
    "fecha_creacion" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "fecha_expiracion" TIMESTAMP(6) NOT NULL,
    "usado" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "codigo_verificacion_pkey" PRIMARY KEY ("codigo_id")
);

-- CreateTable
CREATE TABLE "reporte" (
    "reporte_id" SERIAL NOT NULL,
    "usuario_rh_id" INTEGER NOT NULL,
    "usuario_personal_id" INTEGER NOT NULL,
    "nivel_urgencia" VARCHAR(50) NOT NULL,
    "tipo_seguimiento" VARCHAR(100) NOT NULL,
    "estado" VARCHAR(50) DEFAULT 'Pendiente',
    "notas" TEXT,
    "nombre_archivo" VARCHAR(255) NOT NULL,
    "ruta" VARCHAR(255) NOT NULL,
    "hash" VARCHAR(64) NOT NULL,
    "fecha_creacion" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "archivo_binario" BYTEA,
    "mime_type" VARCHAR(150),
    "tamano_bytes" INTEGER,

    CONSTRAINT "reporte_pkey" PRIMARY KEY ("reporte_id")
);

-- CreateTable
CREATE TABLE "riesgo_prediccion" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "edificio_id" INTEGER NOT NULL,
    "fecha" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "respuestas" JSONB NOT NULL,
    "riesgo_base" DOUBLE PRECISION NOT NULL,
    "riesgo_proyeccion_30d" DOUBLE PRECISION NOT NULL,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "riesgo_prediccion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "alerta_riesgo" (
    "alerta_id" SERIAL NOT NULL,
    "usuario_id" INTEGER NOT NULL,
    "conversacion_id" INTEGER NOT NULL,
    "mensaje_id" INTEGER NOT NULL,
    "nivel" VARCHAR(20) NOT NULL,
    "resumen" TEXT,
    "atendida" BOOLEAN NOT NULL DEFAULT false,
    "atendida_por" INTEGER,
    "atendida_en" TIMESTAMP(6),
    "notas_admin" TEXT,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "alerta_riesgo_pkey" PRIMARY KEY ("alerta_id")
);

-- CreateTable
CREATE TABLE "perfil_bienestar" (
    "perfil_id" SERIAL NOT NULL,
    "usuario_id" INTEGER NOT NULL,
    "horas_actividad_diaria" INTEGER NOT NULL,
    "tareas_por_dia" INTEGER NOT NULL,
    "tareas_pendientes_mes" INTEGER NOT NULL,
    "personas_dependientes" INTEGER NOT NULL DEFAULT 0,
    "nombres_dependientes" JSONB,
    "fecha_actualizacion" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "perfil_bienestar_pkey" PRIMARY KEY ("perfil_id")
);

-- CreateTable
CREATE TABLE "estado_animo_diario" (
    "id" SERIAL NOT NULL,
    "usuario_id" INTEGER NOT NULL,
    "estado" VARCHAR(20) NOT NULL,
    "fecha" DATE NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "estado_animo_diario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "nivel_estres" (
    "id" SERIAL NOT NULL,
    "usuario_id" INTEGER NOT NULL,
    "valor" INTEGER NOT NULL,
    "factor_animo" INTEGER NOT NULL,
    "factor_carga" INTEGER NOT NULL,
    "factor_chat" INTEGER NOT NULL,
    "fecha" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "nivel_estres_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sesion_relajacion" (
    "id" SERIAL NOT NULL,
    "usuario_id" INTEGER NOT NULL,
    "tipo" VARCHAR(30) NOT NULL,
    "duracion_seg" INTEGER NOT NULL,
    "completada" BOOLEAN NOT NULL DEFAULT false,
    "fecha" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sesion_relajacion_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "usuario_correo_key" ON "usuario"("correo");

-- CreateIndex
CREATE INDEX "idx_usuario_edificio" ON "usuario"("edificio_id");

-- CreateIndex
CREATE INDEX "idx_conversacion_usuario" ON "conversacion"("usuario_id");

-- CreateIndex
CREATE INDEX "idx_mensaje_conversacion" ON "mensaje"("conversacion_id");

-- CreateIndex
CREATE INDEX "idx_mensaje_alerta" ON "mensaje"("alerta");

-- CreateIndex
CREATE INDEX "idx_codigo_usuario" ON "codigo_verificacion"("usuario_id");

-- CreateIndex
CREATE INDEX "idx_codigo_valor" ON "codigo_verificacion"("codigo");

-- CreateIndex
CREATE INDEX "idx_alerta_pendientes" ON "alerta_riesgo"("atendida", "nivel");

-- CreateIndex
CREATE INDEX "idx_alerta_usuario" ON "alerta_riesgo"("usuario_id");

-- CreateIndex
CREATE UNIQUE INDEX "perfil_bienestar_usuario_id_key" ON "perfil_bienestar"("usuario_id");

-- CreateIndex
CREATE INDEX "idx_animo_usuario" ON "estado_animo_diario"("usuario_id");

-- CreateIndex
CREATE UNIQUE INDEX "estado_animo_diario_usuario_id_fecha_key" ON "estado_animo_diario"("usuario_id", "fecha");

-- CreateIndex
CREATE INDEX "idx_estres_usuario_fecha" ON "nivel_estres"("usuario_id", "fecha");

-- CreateIndex
CREATE INDEX "idx_relajacion_usuario" ON "sesion_relajacion"("usuario_id");

-- AddForeignKey
ALTER TABLE "usuario" ADD CONSTRAINT "fk_usuario_edificio" FOREIGN KEY ("edificio_id") REFERENCES "edificio"("edificio_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "respuesta" ADD CONSTRAINT "respuesta_edificio_id_fkey" FOREIGN KEY ("edificio_id") REFERENCES "edificio"("edificio_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "conversacion" ADD CONSTRAINT "conversacion_usuario_id_fkey" FOREIGN KEY ("usuario_id") REFERENCES "usuario"("usuario_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "mensaje" ADD CONSTRAINT "mensaje_conversacion_id_fkey" FOREIGN KEY ("conversacion_id") REFERENCES "conversacion"("conversacion_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "codigo_verificacion" ADD CONSTRAINT "codigo_verificacion_usuario_id_fkey" FOREIGN KEY ("usuario_id") REFERENCES "usuario"("usuario_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "reporte" ADD CONSTRAINT "fk_reporte_personal" FOREIGN KEY ("usuario_personal_id") REFERENCES "usuario"("usuario_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "reporte" ADD CONSTRAINT "fk_reporte_rh" FOREIGN KEY ("usuario_rh_id") REFERENCES "usuario"("usuario_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "riesgo_prediccion" ADD CONSTRAINT "fk_riesgo_edificio" FOREIGN KEY ("edificio_id") REFERENCES "edificio"("edificio_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "alerta_riesgo" ADD CONSTRAINT "alerta_riesgo_usuario_id_fkey" FOREIGN KEY ("usuario_id") REFERENCES "usuario"("usuario_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "alerta_riesgo" ADD CONSTRAINT "alerta_riesgo_conversacion_id_fkey" FOREIGN KEY ("conversacion_id") REFERENCES "conversacion"("conversacion_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "alerta_riesgo" ADD CONSTRAINT "alerta_riesgo_mensaje_id_fkey" FOREIGN KEY ("mensaje_id") REFERENCES "mensaje"("mensaje_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "perfil_bienestar" ADD CONSTRAINT "perfil_bienestar_usuario_id_fkey" FOREIGN KEY ("usuario_id") REFERENCES "usuario"("usuario_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "estado_animo_diario" ADD CONSTRAINT "estado_animo_diario_usuario_id_fkey" FOREIGN KEY ("usuario_id") REFERENCES "usuario"("usuario_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "nivel_estres" ADD CONSTRAINT "nivel_estres_usuario_id_fkey" FOREIGN KEY ("usuario_id") REFERENCES "usuario"("usuario_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sesion_relajacion" ADD CONSTRAINT "sesion_relajacion_usuario_id_fkey" FOREIGN KEY ("usuario_id") REFERENCES "usuario"("usuario_id") ON DELETE CASCADE ON UPDATE CASCADE;

